:root {
    /* Colours */
    --colour-bg: #e5e9ec;
    --colour-text: #000000;
    --colour-primary: #394149;
    --colour-secondary: white;
    --colour-accent: #F56526;

    /* Typography */
    /* font-family: colfax-web, sans-serif;
    font-weight: 400;
    font-style: normal */

    --font-primary: colfax-web, sans-serif;
    --text-base-size: 1rem;

    --text-scale-ratio: 1.2;
    --text-xxl: 4rem;
    --text-xl: 3rem;
    --text-lg: 2rem;
    --text-md: 1.4rem;
}

/* body = tag
    .body = class
     #body = id */


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body {

    background-color: var(--colour-bg);
    color: var(--colour-text);
    font-family: var(--font-body);
    /* text-align: center; */
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--colour-primary);
    margin-left: 2em;
    margin-right: 2em;


}

.logo {
    justify-content: flex-start;
    display: flex;
    position: relative;
    width: 10rem;
}

.footer-logo {
    justify-content: flex-start;
}

.btn {
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: var(--colour-primary);
    border: 2px solid var(--colour-primary);
    color: var(--colour-secondary);

}

.btn-secondary {
    background-color: var(--colour-secondary);
    border: 2px solid var(--colour-primary);
    color: var(--colour-primary);
}

.btn-primary--accent {
    background-color: var(--colour-accent);
    border-color: var(--colour-accent);
}



.textInput {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}


form {
    width: 600px;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.terms {
    grid-column: 2 / 3;
}

.buttons {
    display: flex;
    justify-content: right;
    grid-column: 1/3;
}

.btn {
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    font-size: 0.9rem;
}

/* .btn-primary {
    background-color: #0D6EFF;
    color: white;
} */

.btn-primary:hover {
    background-color: #0E64E4;
}

.btn-primary--hover {
    background-color: #0E64E4;
}

.btn-primary:active {
    background-color: #0151C8;
}

.btn-primary--active {
    background-color: #0151C8;
}

.btn-primary:focus {
    background-color: #1070FF;
    border: 2px solid #7CAFFC;
    box-shadow: 0px 0px 5px #adceff;
}

.btn-primary--focus {
    background-color: #1070FF;
    border: 2px solid #7CAFFC;
    box-shadow: 0px 0px 5px #adceff;
}

.btn-secondary {
    background-color: #F3F8FF;
    color: #67A3FF;
}

.btn-secondary:hover {
    background-color: #E8F1FF;
}

.btn-secondary--hover {
    background-color: #E8F1FF;
}

.btn-secondary:active {
    background-color: #DBEAFF;
}

.btn-secondary--active {
    background-color: #DBEAFF;
}

.btn-secondary:focus {
    background-color: #F3F8FF;
    border: 2px solid #92BEFF;
    box-shadow: 0px 0px 5px rgb(189, 213, 249);
}

.btn-secondary--focus {
    background-color: #F3F8FF;
    border: 2px solid #92BEFF;
    box-shadow: 0px 0px 5px rgb(189, 213, 249);
}


.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster>* {
    margin: 0.5rem;
}

.bottom-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    background-color: var(--colour-bg);

}

.bottom-navbar>* {
    margin: 3rem
}


.sidebar-container {
    flex-basis: 20rem;
    flex-grow: 1;
    position: static;
    height: 100%;

}

.sidebar-container ul {
    list-style-type: none;
    background-color: rgb(167, 43, 43);


}


.sidebar-container ul li {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;


}

li a:hover {
    background-color: #000000;
}


.not-sidebar {

    flex-basis: 0;
    flex-grow: 999;

}




.product-layout {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1em;
}


.product-card {
    padding: 1.5rem;
    justify-self: center;
    width: 20rem;
    flex-direction: column;
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1;
    gap: 2rem;

}

.product-card a{
    width: 100% !important;
    height: 100% !important;
}


.product-card .product-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}


#trackInfo ul {
    padding: 0px;
    list-style-type: none;

}

.album-about {
    font-size: 1em;
    padding-top: 1em;
}

.product-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
    font-weight: bold;

}

#add-to-cart-product-page {
    padding-top: 1em;
    padding-bottom: 1em;
}
