:root {
    /* Colours */
    --colour-bg: #A3C1D1;
    --colour-text: rgb(32, 32, 32);

    /* Typography */
    /* font-family: colfax-web, sans-serif;
    font-weight: 400;
    font-style: normal */

    --font-primary: colfax-web, sans-serif;
    --taxt-base-size: 1rem;

    --text-scale-ratio: 1.2;
    --text-xxl: 4rem;
    --text-xl: 3rem;
    --text-lg: 2rem;
    --text-md: 1.4rem;
}
        /* body = tag
    .body = class
     #body = id */
     



html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body {

    background-color: var(--colour-bg);
    color: var(--colour-text);
    font-family: var(--font-body);
    /* text-align: center; */
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--colour-primary);
    margin-left: 2em;
    margin-right: 2em;
    

}

.logo {
    justify-content: flex-end;
    display: flex;
    position: relative;
    width: 10rem;
}

/* .top-navbar { SS
    justify-content: center;
    background-color: var(--colour-bg);
    display: flex;
    top: 8em;
    right: 8em;
} */

.top-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster>* {
    margin: 0.5rem;
}

.bottom-navbar {
    justify-content: right;
    background-color: var(--colour-bg);
    display: flex;

}

/* 
.sidebar-container {
    display: block;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
} */

.sidebar {
    /* display: block; */
    flex-basis: 20rem;
    flex-grow: 1;

    /* height: 20rem; */
}

.not-sidebar {

    flex-basis: 0;
    flex-grow: 999;
    /* min-width: 50%; */
}

/* Tried to implement a child selector to colour the banners */
.sidebar-container>.sidebar>div:nth-child(1) {
    background-color: rgb(146, 146, 163);

}

.Group-1{
    margin-top: 100px;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap; 
  }
  
  .Group-2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
  }
    
  .product-card {
    padding:20px;
    margin-bottom:20px;
    justify-self: center;
  }
    
  .product-card > img{
    width:100%;
    max-width:400px;
  }
    
  .Group-1 > .product-card {
    width:400px;
  }

  .Group-2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
  }


/* .img-container {
    display: flex;
    flex-direction: row;
    margin:  1%;
} */


/* .img-container>img {
    width: 100%;
} */



/* Gabriele's Code: Picks a Child Element and Alters it
.products-list .product:nth-child(3) {
    background-color: rgb(17, 0, 255);
    flex: 1 0; 
    width: 9rem; */