:root {
    /* Colours */
    --colour-bg: #A3C1D1;
    --colour-text: #000000;
    --colour-primary: #394149;
    --colour-secondary: white;
    --colour-accent: #F56526;

    /* Typography */
    /* font-family: colfax-web, sans-serif;
    font-weight: 400;
    font-style: normal */

    --font-primary: colfax-web, sans-serif;
    --taxt-base-size: 1rem;

    --text-scale-ratio: 1.2;
    --text-xxl: 4rem;
    --text-xl: 3rem;
    --text-lg: 2rem;
    --text-md: 1.4rem;
}

/* body = tag
    .body = class
     #body = id */


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



body {

    background-color: var(--colour-bg);
    color: var(--colour-text);
    font-family: var(--font-body);
    /* text-align: center; */
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--colour-primary);
    margin-left: 2em;
    margin-right: 2em;


}

.logo {
    justify-content: flex-end;
    display: flex;
    position: relative;
    width: 10rem;
}


.btn {
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: var(--colour-primary);
    border: 2px solid var(--colour-primary);
    color: var(--colour-secondary);

}

.btn-secondary {
    background-color: var(--colour-secondary);
    border: 2px solid var(--colour-primary);
    color: var(--colour-primary);
}

.btn-primary--accent {
    background-color: var(--colour-accent);
    border-color: var(--colour-accent);
}


.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster>* {
    margin: 0.5rem;
}

.bottom-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    background-color: var(--colour-bg);

}

.bottom-navbar>* {
    margin: 3rem
}


.sidebar-container {
    flex-basis: 20rem;
    flex-grow: 1;
    position: static;
    height: 100%;

}

.sidebar-container ul {
    list-style-type: none;
    background-color: rgb(167, 43, 43);
   

} 


.sidebar-container ul li{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;

    
} 

li a:hover {
    background-color: #000000;
}


.not-sidebar {

    flex-basis: 0;
    flex-grow: 999;

}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 1em;
}


.product-card {
    padding: 0.8 em;
    margin-bottom: 0.8 em;
    justify-self: center;
}

.product-card>img {
    width: 100%;
    max-width: 30em;
}