


:root {
    /* Colours */
    --colour-bg: #A3C1D1;
    --colour-text: rgb(32, 32, 32);

    /* Typography */
    font-family: colfax-web, sans-serif;
    font-weight: 400;
    font-style: normal


        /* body = tag
    .body = class
     #body = id */
}



html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }



body {

    background-color: var(--colour-bg);
    color: var(--colour-text);
    font-family: var(--font-body);
    /* text-align: center; */

}

.logo {
    justify-content: flex-end;
    display: flex;
    position: absolute;
    right: 1px;
}

.top-navbar {
    justify-content: center;
    background-color: var(--colour-bg);
    display: flex;
    top: 8em;
    right: 8em;
}

.bottom-navbar{
    justify-content: right;
    background-color: var(--colour-bg);
    display: flex;

}


.sidebar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    flex-basis: 40rem;
    flex-grow: 1; 
}

.not-sidebar {
    flex-basis: 0;
     /* Unclear about flex-grow 999 */
     flex-grow: 999; 
     min-width: 50%;
}

.product {
    background-color: yellow;
    width: 400 px;
    height: 400 px;
    /* margin: 0.5rem; */
    /* flex: 1; */
    padding: 1rem;
    flex: wrap;
}


.img-container {
    max-width: 400px;
}

.img-container > img {
    width: 100%;
    display: flex;
}

.img-container > img {
    /* background-color: red; */
    width: 100%;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}


/* Gabriele's Code: Picks a Child Element and Alters it
.products-list .product:nth-child(3) {
    background-color: rgb(17, 0, 255);
    flex: 1 0; 
    width: 9rem; */

