:root {
    /* Colours */
    --colour-bg: rgb(244, 243, 249);
    --colour-text: rgb(32, 32, 32);

    /* Typography */
    font-family: colfax-web, sans-serif;
    font-weight: 400;
    font-style: normal
        /* --font-display: 'Lora', 'serif';
    --font-body: 'Josefin Sans', sans-serif; */

        /* body = tag
    .body = class
     #body = id */

}


.product {
    background-color: yellow;
    width: 6rem;
    height: 6rem;
    /* margin: 0.5rem; */
    /* flex: 1; */
    padding: 1rem;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.products-list .product:nth-child(3) {
    background-color: red;
    /* flex: 1 0; */
    /* width: 9rem; */
}