.product {
    background-color: yellow;
    width: 6rem;
    height: 6rem;
    /* margin: 0.5rem; */
    /* flex: 1; */
    padding: 1rem;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.products-list .product:nth-child(3) {
    background-color: red;
    /* flex: 1 0; */
    /* width: 9rem; */
}
