/* .products-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.img-container>img {
    width: 100%;
    display: flex;
} */


/* .img-container {
    display: flex;
    flex-direction: row;
    margin:  1%;
} */


/* .img-container>img {
    width: 100%;
} */



/* Gabriele's Code: Picks a Child Element and Alters it
.products-list .product:nth-child(3) {
    background-color: rgb(17, 0, 255);
    flex: 1 0; 
    width: 9rem; */


    /* Tried to implement a child selector to colour the banners */
/* .sidebar-container>.sidebar>div:nth-child(1) {
    background-color: rgb(146, 146, 163);

} */

/* .Group-1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

/* .Group-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
} */


/* 
.sidebar-container {
    display: block;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
} */
